
.md-typese p {
  font-size: 16px; /*230316*/
  line-height: 1.5rem; /*230316*/
}

.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}

.md-typeset pre {
  background-color: #6ba0c979;
}

.md-typeset p code,
p pre {
 
    background-color: #c9dff379;/* #fbe9e7; */ 
    border: 0;
    margin: 0 2px;
    padding: 0 5px;
}


.md-typeset table code,
table pre {
  background-color: #c9dff379/* #fbe9e7 */; 
}

.md-typeset img { /*230316*/
  max-width: 100%;
  /* width: 50%; */
  height: auto;
  display: block;


  margin-bottom: 0;
  /* padding-top: 5px; */
  padding-bottom: -1;

  border: 0;
  -ms-interpolation-mode: bicubic;
  image-rendering: optimizeQuality;

}

.md-typeset figure {
  padding-top: 0px;
  padding-bottom: -1;
  margin-bottom: 0;
  font-size: 16px;
}


/*230515*/

.md-typeset h1 {
 /*  font-size: 1.7em; */
}

.md-typeset h2 {
  /* font-size: 1.5em; */
  margin-top: 2.5em;
  line-height: 1em;  
}

.md-typeset h3 {
  /* font-size: 1.4em; */
  margin-top: 2.5em;
  line-height: 1em;  
}

.md-typeset h4 {
  /* font-size: 1.3rem; */
  margin-top: 2.5em;
  line-height: 1em;  
}
